@import "./Variable.scss";

body{
    font-family: 'Montserrat', sans-serif;

}

p{
    color: $text-color;
    font-size:1.25vw;
}

.darkShade{
    color:$darkShade-color;
    font-weight: lighter;
}

h2{
    color:$header-color;
    }