.footerPart{
    background-color: rgb(50, 50, 54);
    height:40vh;
    padding:50px;
    display: flex;
    justify-content: center;
    
    }
    
    
    .footerPart div{
        width:35%;
     padding: 10px;
    }
    
    .footerPart div h2{
    margin-bottom: 10px;
    
    }
    
    .footerPart div p{
        
        color:#fff;
    }
    
    .footerPart div h2{
        
        color:#fff;
    
    }
    
    .footerPart--div2 p{
    margin-top: 42px;
    text-align: right;
    color:#fff;
    }
    
    