   header{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-bottom: 20px;
   }
   
   
   header h1{
    text-align: center;
    color:#111;
    }
    
    header img{
    width: 100%;
    
    }
    .header--div h2{
      
        padding: 10px;
        margin-bottom: 20px;
        font-size: 2.5vw;
        text-align: right;
        
    }

    .header--div p{
        margin:20px 0px;
        text-align: center;
        
    }
    .header--div p span{
        float:right;
    }
   