header{
    color:#111;
    position: relative;
    
    }
    
    
    header h1{
    text-align: center;
    color:#111;
    font-weight: 600;
    }
    
    header img{
    
    position: relative;
    margin-top: 0;
    max-width: 120%;
    width: 100%;
    
    }
    
   