@media (max-width: 768px){
 /*the changes made are the font size is increased for smaller devices 
 and flex child property of grow, shrink and basis is used to view the text in full width  */ 
    header h1{
        font-size: 4vw;
    
        }
       
        p{
            font-size:3vw;
        }
       

        .header--div{
        width:80%;

        }
        .header--div h2{
                text-align: center;
                font-size:5vw;
            }
//the span is center aligned
            

.header--div p span{
            
                float: none;
                
                }
/*used flex child properties like grow, shrink and basis to make 
the screen responsive to enable the text to have a full width in smaller screen*/
                .PhoneImage1--div{

                 flex:1 1 300px;
                }
        
                
                    .PhoneImage2--div{
                   
                        flex:1 1 300px ; 

                    }
                    

                    .cloudSection--div h2{
                        font-size:5vw;
                       
                    }  
               
}

@media (max-width: 1024px){

    header h1{
        font-size: 4vw;
    
        }
       
        p{
            font-size:3vw;
        }
       

        .header--div{
        width:80%;

        }
        .header--div h2{
                text-align: center;
                font-size:5vw;
            }
//the span is center aligned
            

.header--div p span{
            
                float: none;
                
                }
}   