.PhoneImage2{
    display:flex;
    justify-content: center;
    margin:0 50px;
    flex-wrap: wrap;
}

.PhoneImage2--div p{
padding:15px;

}

.PhoneImage2--div{
    align-self: center;
    width:35%;

}

.PhoneImage2 img{

    width:45%;

}