.PhoneImage1{
    margin:0 50px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    border:1px solid blue;
}
.PhoneImage1--div h2{
margin-bottom: 10px;

}
.PhoneImage1--div p{
padding:15px;

}

.PhoneImage1--div{
    align-self: center;
    width:35%;

}

.PhoneImage1 img{

    width:40%;

}