.PhoneImage1{
    display:flex;
    justify-content: center;
    margin:0 50px;

}
.PhoneImage1--div h2{
margin-bottom: 10px;

}
.PhoneImage1--div p{
padding:10px;

}

.PhoneImage1--div{
    align-self: center;
    width:45%;

}

.PhoneImage1 img{

    width:50%;

}